<div class="title row">
  <div class="col">
    <h2>
    Sequencing Runs <%= link_to new_pipeline_sequencing_run_path(pipeline), { class: 'btn btn-primary btn-large pull-right', role: 'button' } do %>
        <%= fa_icon "plus" %> New Sequencing Run
      <% end %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <th>Experiment name</th>
        <th>Instrument name</th>
        <th>Created</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </thead>
    <tbody>
      <% sequencing_runs.each do |sequencing_run| %>
        <tr id="<%= dom_id(sequencing_run) %>">
          <td><%= sequencing_run.experiment_name %></td>
          <td><%= sequencing_run.instrument_name %></td>
          <td><%= sequencing_run.created_at.to_date.to_s(:default) %></td>
          <td><%= link_to 'Show', sequencing_run_path(sequencing_run) %></td>
          <td><%= link_to 'Edit', edit_sequencing_run_path(sequencing_run) %></td>
          <td><%= link_to 'Delete', sequencing_run_path(sequencing_run), method: :delete%>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
</div>
