<section>
  <h2>Sequencing Run</h2>
  <ul>
    <li>
      <strong>experiment name: </strong><%= sequencing_run.experiment_name %>
    </li>
    <li>
      <strong>instrument name: </strong><%= sequencing_run.instrument_name %>
    </li>
  </ul>
  <h3>Flowcells</h3>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <th>Position</th>
          <th>Flowcell ID</th>
          <th>Sample</th>
        </thead>
        <tbody>
          <% sequencing_run.flowcells.each do |flowcell| %>
            <tr>
              <td><%= flowcell.position %></td>
              <td><%= flowcell.flowcell_id %></td>
              <td><%= flowcell.work_order.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>