<%= form_for work_order, url: qc_path(work_order) do |f| %>
  <fieldset class="container">
    <legend>
      Work Order - QC: <%= work_order.name %>
    </legend>
    <%= render "error_messages", target: work_order %>
    <%= f.fields_for :aliquot, work_order.aliquot do |aliquot| %>
    <div class="form-group" >
      <%= aliquot.label :concentration %>
      <%= aliquot.text_field :concentration, { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= aliquot.label :fragment_size %>
      <%= aliquot.text_field :fragment_size, { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= aliquot.label :qc_state, 'QC state' %>
      <%= aliquot.select :qc_state, Aliquot.qc_states.keys, {}, { class: 'form-control' } %>
    </div>
  <% end %>
    <div class="form-group">
      <%= f.submit class: 'btn btn-primary pull-right' %>
    </div>
  </fieldset>
<% end %>
