<%= form_for work_order, url: library_preparation_path(work_order) do |f| %>
  <fieldset class="container">
    <legend>
      Work Order - Library Preparation: <%= work_order.name %>
    </legend>
    <%= render "error_messages", target: work_order %>
    <%= f.fields_for :library, Library.new do |library| %>
      <div class="form-group" >
        <%= library.label :volume %>
        <%= library.text_field :volume, { class: 'form-control' } %>
      </div>
      <div class="form-group" >
        <%= library.label :kit_number %>
        <%= library.text_field :kit_number, { class: 'form-control' } %>
      </div>
      <div class="form-group" >
        <%= library.label :ligase_batch_number %>
        <%= library.text_field :ligase_batch_number, { class: 'form-control' } %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.submit class: 'btn btn-primary pull-right' %>
    </div>
  </fieldset>
<% end %>
