<div class="title row">
  <div class="col-md-12">
    <h2>Work Orders - Library Preparation</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <th>Sample Name</th>
        <th>State</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </thead>
    <tbody>
      <% work_orders.each do |work_order| %>
        <tr id="<%= dom_id(work_order) %>">
          <td><%= work_order.name %></td>
          <td><%= work_order.state %></td>
          <td><%= link_to 'Edit', edit_library_preparation_path(work_order) %></td>
          <td><%= link_to 'Show', work_order_path(work_order) %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
</div>
