
  <%= form.fields_for :aliquot, work_order.aliquot do |aliquot| %>
    <div class="form-group" >
      <%= aliquot.label :concentration %>
      <%= aliquot.text_field :concentration, { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= aliquot.label :fragment_size %>
      <%= aliquot.text_field :fragment_size, { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= aliquot.label :qc_state, 'QC state' %>

       <div class="row">
        <div class="col-md-11">
          <%= aliquot.select :qc_state, Aliquot.qc_states.keys, { class: 'form-control' } %>
        </div>
      </div>
    </div>
  <% end %>
