<%= form_for work_order do |f| %>
  <fieldset>
    <legend>
      Work Order
    </legend>
    
    <ul>
      <%= f.fields_for :aliquot, work_order.aliquot do |aliquot| %>
        <li>
          <%= aliquot.label :concentration %>
          <%= aliquot.text_field :concentration %>
        </li>
        <li>
          <%= aliquot.label :fragment_size %>
          <%= aliquot.text_field :fragment_size %>
        </li>
        <li>
          <%= aliquot.label :qc_state, 'QC state' %>
          <%= aliquot.select :qc_state, Aliquot.qc_states.keys %>
        </li>
      <% end %>
    </ul>
    <%= f.submit %>
  </fieldset>
<% end %>