<section>
  <h2>Work Order - <%= work_order.name %></h2>
  <ul>
    <li>
      <strong>created at: </strong><%= work_order.created_at.to_s(:default) %>
    </li>
    <li>
      <strong>state: </strong><%= work_order.state %>
    </li>
    <li>
      <strong>barcode: </strong><%= work_order.aliquot.tube.barcode %>
    </li>
    <li>
      <strong>library preparation type: </strong><%= work_order.library_preparation_type %>
    </li>
    <li>
      <strong>data type: </strong><%= work_order.data_type %>
    </li>
    <li>
      <strong>number of flowcells: </strong><%= work_order.number_of_flowcells %>
    </li>
  </ul>
  <h4>QC</h4>
  <ul>
    <li>
      <strong>concentration: </strong><%= work_order.aliquot.concentration %>
    </li>
    <li>
      <strong>fragment size: </strong><%= work_order.aliquot.fragment_size %>
    </li>
    <li>
      <strong>state: </strong><%= work_order.aliquot.qc_state %>
    </li>
  </ul>
  <% unless work_order.library.nil? %>
    <h4>Library</h4>
    <ul>
      <li>
        <strong>volume: </strong><%= work_order.library.volume %>
      </li>
      <li>
        <strong>kit number: </strong><%= work_order.library.kit_number %>
      </li>
      <li>
        <strong>ligase batch number: </strong><%= work_order.library.ligase_batch_number %>
      </li>
    </ul>
  <% end %>

</section>