<section>
  <h2>Work Order</h2>
  <div>sample: <%= work_order.name %></div>
  <div>state: <%= work_order.state %></div>
  <div>tube: <%= work_order.aliquot.tube.barcode %></div>
  <div>concentration: <%= work_order.aliquot.concentration %></div>
  <div>fragment size: <%= work_order.aliquot.fragment_size %></div>
  <div>qc state: <%= work_order.aliquot.qc_state %></div>
  <% unless work_order.library.nil? %>
    <h3>Library</h3>
    <div>volume: <%= work_order.library.volume %></div>
    <div>kit number: <%= work_order.library.kit_number %></div>
    <div>ligase batch number: <%= work_order.library.ligase_batch_number %></div>
  <% end %>

  <%= form_tag(print_jobs_path) do %>
    <div class="form-group">
      <%= label_tag :printer, 'Printer', class: 'h6' %>
      <%= select_tag(:printer_name, options_for_select(@printers_names)) %>
      <%= hidden_field_tag :work_order_id, work_order.id %>
      <%= submit_tag "Print label", class: "btn btn-secondary btn-sm" %>
    </div>
  <% end %>

</section>