<section>
  <h2>Work Order - <%= work_order.name %></h2>
  <ul>
    <li>
      <strong>created at: </strong><%= work_order.created_at.to_s(:default) %>
    </li>
    <li>
      <strong>state: </strong><%= work_order.aliquot_state %>
    </li>
    <li>
      <strong>barcode: </strong><%= work_order.aliquot.receptacle_barcode %>
    </li>
    <% work_order.details.to_h.each do |key, value|%>
      <li>
        <strong><%= "#{key}: "%> </strong><%= value %>
      </li>
    <% end %>
  </ul>

  <% work_order.lab_events.each do |lab_event|%>
    <h4><%= "#{lab_event.state.capitalize.humanize}: #{lab_event.name || lab_event.receptacle.barcode}"%></h4>
    <ul>
      <%lab_event.metadata.each do |key, value|%>
        <li>
          <strong><%= "#{key}: "%> </strong><%= value %>
        </li>
      <%end%>
    </ul>
  <% end %>
</section>