<%= form_for aliquot do |f| %>
  <fieldset>
    <legend>
      Aliquot
    </legend>
    <ul>
      <li>
        <%= f.label :concentration %>
        <%= f.text_field :concentration %>
      </li>
      <li>
        <%= f.label :fragment_size %>
        <%= f.text_field :fragment_size %>
      </li>
      <li>
        <%= f.label :qc_state, 'QC state' %>
        <%= f.select :qc_state, Aliquot.qc_states.keys %>
      </li>
    </ul>
    <%= f.submit %>
  </fieldset>
<% end %>