<nav>
  <div>
    <ul class="float-sm-right">
      <li><%= link_to "Reception", reception_path %></li>
      <li><%= link_to "Work Orders", work_orders_path %></li>
      <li><%= link_to "QC", work_orders_path(process_step_name: 'qc') %></li>
      <li><%= link_to "Library Preparation", work_orders_path(process_step_name: 'library_preparation') %></li>
      <li><%= link_to "Sequencing Runs", sequencing_runs_path %></li>
    </ul>
  </div>
</nav>
