<div class="row">
  <div class="col-md-12">
    <%= form_tag print_jobs_path do %>
      <%= render "print" %>
      <table class="table table-striped">
        <thead>
          <th>Print Label</th>
          <th>Id</th>
          <th>Sample Name</th>
          <th>State</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </thead>
        <tbody>
          <% work_orders.each do |work_order| %>
            <tr id="<%= dom_id(work_order) %>">
              <td><%= check_box_tag 'work_order_ids[]', work_order.id%></td>
              <td><%= work_order.id %></td>
              <td><%= work_order.name %></td>
              <td><%= work_order.aliquot_state %></td>
              <td><%= link_to 'Show', pipeline_work_order_path(pipeline, work_order) %></td>
              <td><%= link_to work_order.aliquot_next_state(pipeline), new_pipeline_work_order_lab_process_path(pipeline, work_order, peocess_step_name: work_order.aliquot_next_state(pipeline)) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>