<div class="row">
  <div class="col-md-12">
    <%= form_tag print_jobs_path do %>
      <table class="table table-striped">
        <thead>
          <th>Print Label</th>
          <th>Sample Name</th>
          <th>State</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </thead>
        <tbody>
          <% work_orders.each do |work_order| %>
            <tr id="<%= dom_id(work_order) %>">
              <td><%= check_box_tag 'work_order_ids[]', work_order.id%></td>
              <td><%= work_order.name %></td>
              <td><%= work_order.state %></td>
              <td><%= link_to 'Show', work_order_path(work_order) %></td>
              <% if work_order.editable? %>
                <td><%= link_to work_order.next_state.to_s.humanize.downcase, editable_work_order_path(work_order) %></td>
              <% else %>
                <td>&nbsp;</td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= render "print" %>
    <% end %>
  </div>
</div>